VITE_API_BASE_URL=http://localhost:5000/api
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com


# Cloudinary (Frontend Unsigned Uploads)
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Payments
VITE_WORKSHOP_UPI_QR_URL=/images/payment/workshop-qr.png
VITE_PAPER_PRESENTATION_UPI_QR_URL=/images/payment/paper-presentation-qr.png
VITE_POSTER_PRESENTATION_UPI_QR_URL=/images/payment/poster-presentation-qr.png
VITE_HARDWARE_EXPO_UPI_QR_URL=/images/payment/hardware-expo-qr.png
VITE_ACCOMMODATION_UPI_QR_URL=/images/payment/accommodation-qr.png